# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intellij files #
*.iml
*.ipr

.idea
/target/maven-status/
/target/generated-sources/
/target/apidocs/
/target/maven-archiver/
/target/javadoc-bundle-options/
/target/classes/
!/target/jPUBG-1.0.1.4-SNAPSHOT.jar
!/target/jPUBG-1.0.1.4-SNAPSHOT-javadoc.jar
!/target/jPUBG-1.0.1.4-SNAPSHOT-sources.jar
